.xo-style {
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 5em;
    font-weight: bold;
    text-align: center;    
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.board {
	width: 80%;
	margin: 0 auto;
}
.box-content {
    display: inline-block;
    width: 30%;
    min-height: 20%;
}

.box-content:hover { 
    background-color: white;
}

.top {
    border-bottom: 1px solid #ccc;
    border-width: 15px;
}

.top-middle {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-width: 15px;
}

.top-right {
    border-left: 1px solid #ccc;
    border-width: 15px;
}

.top-left {
    border-right: 1px solid #ccc;
    border-width: 15px;
}

.middle {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-width: 15px;
}

.middle-middle {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-width: 15px;
}

.middle-right {
    border-left: 1px solid #ccc;
    border-width: 15px;
}

.middle-left {
    border-right: 1px solid #ccc;
    border-width: 15px;
}

.bottom {
    border-top: 1px solid #ccc;
    border-width: 15px;
}

.bottom-middle {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-width: 15px;
}

.bottom-right {
    border-left: 1px solid #ccc;
    border-width: 15px;
}

.bottom-left {
    border-right: 1px solid #ccc;
    border-width: 15px;
}